In [37]:
import numpy as np
import pandas as pd

In [38]:
source_file_path, dest_file_path = "./src/data/Kidney_v1.1.csv", "./src/data/KidneyRegular.csv"
data = pd.read_csv(source_file_path)

In [39]:
current_colnames = list(data.columns)

new_colnames = list(data.iloc[9, :])
data = data.iloc[10:, :]
data.rename(columns = {curr: new_names for curr, new_names in zip(current_colnames, new_colnames)}, 
            inplace=True)
data.reset_index(inplace=True)
data.drop("index", axis=1, inplace=True)
# data.replace(np.nan, None, inplace=True)
display(data.head())

,AS/1,AS/1/LABEL,AS/1/ID,AS/2,AS/2/LABEL,AS/2/ID,AS/3,AS/3/LABEL,AS/3/ID,AS/4,...,REF/3/NOTES,REF/4,REF/4/DOI,REF/4/NOTES,REF/5,REF/5/DOI,REF/5/NOTES,REF/6,REF/6/DOI,REF/6/NOTES
0,kidney,kidney,UBERON:0002113,kidney capsule,kidney capsule,UBERON:0002015,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,kidney,kidney,UBERON:0002113,cortex of kidney,cortex of kidney,UBERON:0001225,outer cortex of kidney,outer cortex of kidney,UBERON:0002189,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,kidney,kidney,UBERON:0002113,cortex of kidney,cortex of kidney,UBERON:0001225,juxtamedullary cortex,juxtamedullary cortex,UBERON:0005271,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,kidney,kidney,UBERON:0002113,cortex of kidney,cortex of kidney,UBERON:0001225,medullary ray,medullary ray,UBERON:0009883,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,kidney,kidney,UBERON:0002113,renal medulla,renal medulla,UBERON:0000362,kidney outer medulla outer stripe,kidney outer medulla outer stripe,UBERON:0004202,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
temp = list(data.loc[data["CT/1/ID"].isna() & (~(data["CT/1/LABEL"].isna())), "CT/1/LABEL"])
print(temp)
data.loc[data["CT/1/ID"].isna() & (~(data["CT/1/LABEL"].isna())), "CT/1/ID"] = temp

['PT-S3', 'DTL1', 'DTL2', 'DTL3', 'DCT1', 'DCT2', 'CNT-PC', 'CNT-IC', 'CNT-IC-A', 'CNT-IC-B', 'tPC-IC', 'CD-IC-A']

In [41]:
def replaceNans(col_1, col_2):
    print("Col1, col2", str(col_1), str(col_2))
    if(str(col_1) == "nan" and (str(col_2) != "nan")):
        print(col_2)
    return str(col_2)

In [42]:
data["CT/1/ID"] = data.apply(lambda x: replaceNans(x["CT/1/ID"], x["CT/1/LABEL"]), axis=1)

Col1, col2 nan nan
Col1, col2 nan nan
Col1, col2 nan nan
Col1, col2 nan nan
Col1, col2 nan nan
Col1, col2 nan nan
Col1, col2 nan nan
Col1, col2 nan nan
Col1, col2 nan nan
Col1, col2 nan nan
Col1, col2 nan nan
Col1, col2 nan nan
Col1, col2 nan nan
Col1, col2 nan nan
Col1, col2 nan nan
Col1, col2 CL:1000452 parietal epithelial cell
Col1, col2 CL:0000653 glomerular visceral epithelial cell
Col1, col2 CL:1001005 glomerular capillary endothelial cell
Col1, col2 CL:1000742 glomerular mesangial cell
Col1, col2 CL:0002306 epithelial cell of proximal tubule
Col1, col2 nan nan
Col1, col2 nan nan
Col1, col2 PT-S3 PT-S3
Col1, col2 CL:1001111 kidney loop of Henle thin descending limb epithelial cell
Col1, col2 DTL1 DTL1
Col1, col2 DTL2 DTL2
Col1, col2 DTL3 DTL3
Col1, col2 CL:1001107 kidney loop of Henle thin ascending limb epithelial cell
Col1, col2 CL:1001106 kidney loop of Henle thick ascending limb epithelial cell
Col1, col2 CL:1001109 kidney loop of Henle cortical thick ascending limb epithelial cell
Col1, col2 CL:1001108 kidney loop of Henle medullary thick ascending limb epithelial cell
Col1, col2 CL:1000850 macula densa epithelial cell
Col1, col2 CL:1000849 kidney distal convoluted tubule epithelial cell
Col1, col2 DCT1 DCT1
Col1, col2 DCT2 DCT2
Col1, col2 CL:1000768 kidney connecting tubule epithelial cell
Col1, col2 CNT-PC CNT-PC
Col1, col2 CNT-IC CNT-IC
Col1, col2 CNT-IC-A CNT-IC-A
Col1, col2 CNT-IC-B CNT-IC-B
Col1, col2 CL:1000454 kidney collecting duct epithelial cell
Col1, col2 CL:1001431 kidney collecting duct principal cell
Col1, col2 CL:1000714 kidney cortex collecting duct principal cell
Col1, col2 CL:1000716 kidney outer medulla collecting duct principal cell
Col1, col2 CL:1000718 kidney inner medulla collecting duct principal cell
Col1, col2 tPC-IC tPC-IC
Col1, col2 CL:1001432 kidney collecting duct intercalated cell
Col1, col2 CD-IC-A CD-IC-A
Col1, col2 CL:1000715 kidney cortex collecting duct intercalated cell
Col1, col2 CL:1000717 kidney outer medulla collecting duct intercalated cell
Col1, col2 CL:0002201 renal beta-intercalated cell
Col1, col2 CL:1000715 kidney cortex collecting duct intercalated cell
Col1, col2 CL:0000115 endothlial cell
Col1, col2 CL:1001096 kidney afferent arteriole endothelial cell
Col1, col2 CL:1001099 kidney efferent arteriole endothelial cell
Col1, col2 CL:1001033 peritubular capillary endothelial cell
Col1, col2 CL:1001285 vasa recta descending limb cell
Col1, col2 CL:1001131 vasa recta ascending limb cell
Col1, col2 CL:0002138 endothelial cell of lymphatic vessel
Col1, col2 CL:1001318 renal interstitial pericyte
Col1, col2 CL:0000648 kidney granular cell
Col1, col2 CL:1000692 kidney interstitial fibroblast
Col1, col2 CL:1000691 kidney interstitial myofibroblast
Col1, col2 CL:1000698 kidney resident macrophage
Col1, col2 CL:0000875 non-classical monocyte
Col1, col2 CL:0000623 natural killer cell
Col1, col2 CL:0000814 mature NK T cell
Col1, col2 CL:0001056 dendritic cell, human
Col1, col2 CL:0000990 conventional dendritic cell
Col1, col2 CL:0001058 plasmacytoid dendritic cell, human
Col1, col2 CL:0000576 monocyte
Col1, col2 CL:0000084 T cell
Col1, col2 CL:0000910 cytotoxic T cell
Col1, col2 CL:0000236 B cell
Col1, col2 CL:0000786 plasma cell
Col1, col2 CL:0000775 neutrophil
Col1, col2 CL:0000097 mast cell

In [43]:
data[["CT/1/ID", "CT/1/LABEL", "CT/1"]]

             CT/1/ID        CT/1/LABEL                              CT/1
0                nan               NaN  capsule mesenchymal stromal cell
1                nan               NaN                               NaN
2                nan               NaN                               NaN
3                nan               NaN                               NaN
4                nan               NaN                               NaN
..               ...               ...                               ...
72  cytotoxic T cell  cytotoxic T cell                  Cytotoxic T Cell
73            B cell            B cell                            B cell
74       plasma cell       plasma cell                       Plasma cell
75        neutrophil        neutrophil                        Neutrophil
76         mast cell         mast cell                         Mast cell

[77 rows x 3 columns]

In [18]:
data_no_ct_ids = data[data["CT/1/ID"].isna() & (~(data["CT/1/LABEL"].isna()))]
values_to_assign = list(data_no_ct_ids["CT/1/LABEL"])
data_no_ct_ids[["CT/1/ID", "CT/1/LABEL", "CT/1"]]

Empty DataFrame
Columns: [CT/1/ID, CT/1/LABEL, CT/1]
Index: []

In [20]:
data[["CT/1/ID", "CT/1/LABEL", "CT/1"]]

       CT/1/ID        CT/1/LABEL                              CT/1
0          NaN               NaN  capsule mesenchymal stromal cell
1          NaN               NaN                               NaN
2          NaN               NaN                               NaN
3          NaN               NaN                               NaN
4          NaN               NaN                               NaN
..         ...               ...                               ...
72  CL:0000910  cytotoxic T cell                  Cytotoxic T Cell
73  CL:0000236            B cell                            B cell
74  CL:0000786       plasma cell                       Plasma cell
75  CL:0000775        neutrophil                        Neutrophil
76  CL:0000097         mast cell                         Mast cell

[77 rows x 3 columns]

In [ ]:
data.to_csv(dest_file_path)